//==========================================================================
//   Input
//==========================================================================

%fragment-input {

  // Reset unusual Firefox-on-Android default style;
  background-image: none;

  border: 0;

  //Correct color properties not being inherited
  color: inherit;

  //Force buttons to inherit font styles
  font: inherit;

  //Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet.
  line-height: normal;

  //Address margins set differently in Firefox 4+, Safari, and Chrome
  margin: 0;

  //Line up different sized buttons
  vertical-align: middle;

  &[disabled] {
    // Set cursor for disabled elements.
    cursor: not-allowed;
    // iOS fix for unreadable disabled content
    opacity: 1;
    // Future-proof disabling of clicks
    pointer-events: none;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

}

@mixin extend-input-size($ms, $txt) {

  padding: ms($ms - 1) ms($ms);
  @include font-size($txt);

}

@mixin extend-input-style(
$bg,
$color,
$shadow-color,
$focus-color,
$placeholder-color,
$border-radius) {

  background-color: $bg;
  color: $color;
  box-shadow: inset 0 0 0 .1rem $shadow-color;
  border-radius: $border-radius;

  &::placeholder {
    color: $placeholder-color;
  }

  &:focus {
    box-shadow: inset 0 0 0 .1rem $focus-color;
    outline: .1rem solid $focus-color;
    transition: outline-width .3s;
  }
}
